.left_section{

     position: absolute;
     top:0;
     left:0;
     padding:50px;
     margin: auto;
}

.center_search_bar{
    //background-color: red;
    width: 500px;
     height: 100px;
     text-align: center;
     position: absolute;
     top:0;
     bottom: 0;
     left: 0;
     right: 0;

     margin: auto;
}

.rightTimer{
  width: 200px;
  padding:20px;
   height: 100px;
   text-align: center;
   position: absolute;
   top:0;
   right: 0;
   margin: auto;
   font-size: 30px;
}

.stockQuote{
  position: relative;
  width: 200px;
  margin:10px 0px;
  padding:10px 10px;

}

.up{
  background-color:#00b894;
  color:white;
}

.down{
  background-color:#d63031;
  color:white;
}

.delete{
  position: absolute;
  top:3px;
  right:1px;
}


.ticker{
  font-size: 30px;
  width: 100px;
  display: inline-block;

    vertical-align: top;
}

.price{
    width: 80px;

    display: inline-block;
}

.current_price{
  font-size: 20px;
}

.current_price_change{

}

.current_price_change_percentage{

}
