.left_section{
    width: 300px;

     position: absolute;
     top:0;
     left:0;
     padding:50px;
     margin: auto;
}

.center_section{
    width: 100px;
     height: 100px;

     position: absolute;
     top:0;
     bottom: 0;
     left: 0;
     right: 0;

     margin: auto;
}

.up{
  background-color:green;
  color:white;
}

.down{
  background-color:red;
  color:white;
}
